﻿@*@using NewStore*@
@model CompraViewModel
@{
    ViewData["Title"] = @"Carrinho de " + Model.UserName;
    
}

<div style="margin-top: 30px;" class="panel panel-default todo-panel">
    <div  class="panel-heading"><p style="font-weight: bold; color: black;">@ViewData["Title"]</p></div>
    @using (Html.BeginForm("FinalizarCompra", "Compras"))
    {
    <form asp-action="PostClick" method="post">        
        <table class="table table-hover">
            @Html.HiddenFor(x => x.UserName)
            <thead>
                @*Se errorMessage tiver conteúdo mostrar na tela*@
                @Html.HiddenFor(x => x.ErrorMessage)
                @if (Model.ErrorMessage != null)
                {
                    <tr>
                        <p style="color: red;">
                            @Html.DisplayFor(x => x.ErrorMessage)
                        </p>
                    </tr>
                }
                <tr>
                    <td style="font-weight: bold;">Produto:</td>
                    <td style="font-weight: bold;">Preço</td>
                    <td> </td>
                </tr>
            </thead>
            @for (int i = 0; i < Model.ComprasProdutos.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => x.ComprasProdutos[i].Produto.Name)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].Produto.ProductID)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].Produto.Description)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].Produto.UrlImage)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].Produto.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(x => x.ComprasProdutos[i].Produto.Price)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].Produto.Price)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].CompraProd.ProductID)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].CompraProd.UserID)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].CompraProd.Id)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].CompraProd.DtCompra)
                        @Html.HiddenFor(x => x.ComprasProdutos[i].CompraProd.Finalized)
                    </td>
                    <td>
                        <a asp-controller="Compras" asp-action="RemoveCompra" asp-route-id="@Model.ComprasProdutos[i].CompraProd.Id">Excluir</a>
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="Finalizar Pedido" class="btn btn-default"  style="float: right; margin: 5px;"/>
        <div style="clear: both"></div>
    </form>
    }
</div>
