﻿@model CompraViewModel
@{
    ViewData["Title"] = "Historico";
}

<h2>Historico</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <td style="font-weight: bold;">Produto</td>
            <td style="font-weight: bold;">Preço</td>
            <td style="font-weight: bold;">Descrição</td>
            <td style="font-weight: bold;">Data</td>
            <td></td>
        </tr>
    </thead>
    @foreach (var item in Model.ComprasProdutos)
        {
    <tr>
        <td>@item.Produto.Name</td>
        <td>@item.Produto.Price</td>
        <td>@item.Produto.Description</td>
        <td>@item.CompraProd.DtCompra</td>
        <td><div class="button"><a asp-action="Details" asp-controller="Products" asp-route-id="@item.Produto.ProductID">Detalhes</a></div></td>
    </tr>
        }
        
</table>