﻿@using Microsoft.AspNetCore.Identity
@using NewStore.Areas.Identity

@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@if (signInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Compras" asp-action="CompraView">Carrinho</a></li>
        <li><a asp-area="" asp-controller="Compras" asp-action="Historico">Historico</a></li>
    </ul>
    var currentUser = await userManager.GetUserAsync(User);
    var isAdmin = currentUser != null
    && await userManager.IsInRoleAsync(
    currentUser,
    "Admin");
    if (isAdmin)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Products"
                   asp-action="Index">
                    Gerenciar Produtos
                </a>
            </li>
        </ul>
    }
}
