﻿@model NewStore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div >
    <h4>Product</h4>
    <hr />
    <div class="left"><img class="imagem" src="@Html.DisplayFor(model => model.UrlImage)" /></div>
    <dl class="left dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <div class="clear"></div>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |*@
    <a asp-action="ProductHome">Back to List</a>
</div>

<style>
    .imagem {
        max-width: 200px;
        max-height: 200px;
    }

    .left{
        float: left;
        text-align: left;
    }

    .clear{
        clear: both;
    }
</style>