﻿@model ProductViewModel
@{
    ViewData["Title"] = "ProductHome";

        
}

<!--<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> -->

<div class="row">   
    <div>
        @foreach (var item in Model.Products)
        {
            if(item.UrlImage == null)
            {
                item.UrlImage = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Item_sem_imagem.svg/1280px-Item_sem_imagem.svg.png";
            };

        <div class="Item col-lg-3">

            <div class="Imagem"><img src="@item.UrlImage" /></div><br />
            <!-- <p>Descrição: @item.Description</p> -->
            <h1 id="NomeProduto">@item.Name</h1>
            <h2 id="PrecoProduto">@item.Price R$</h2><br />
            <div class="options">
                <div class="button"><a asp-action="Details" asp-route-id="@item.ProductID">Detalhes</a></div>
                <div class="button"><a asp-controller="Compras" asp-action="CompraView" asp-route-id="@item.ProductID">Comprar</a></div>
                <div class="clear"></div>
            </div>

        </div>
        }
        
        <div class="clear"></div>
    </div>        
</div> 


<style>

    .clear{
        clear: both;
    }

    .Item {
        text-align: center;
        margin: 10px 1.5%;
        border: 3px solid;
        border-color: dimgray;
        border-radius: 5%;
        padding: 10px 0;
    }

        #NomeProduto {
            font-weight: bolder;
            font-size: 21px;
        }

        #PrecoProduto {
            font-weight: bolder;
            font-size: 18px;
        }

        .Item img{
            width: 144px;
            height: 144px;
           
        }

    .Item .Imagem {
        margin: 10px auto;
        
    }

    .options .button {
        width: 40%;
        float: left;
        background-color: grey;
        border: 2px solid black;
        margin-left: 5%;
    }

    .options .button a{
        color: white;
        font-size: 15px;
    }

    .options {
        text-align: center;
        margin: 0 auto;
        max-width: 400px;
    }

</style>


